* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
}

main {
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;

        .col {
            width: 100%;
            padding: 1rem;

            @media (min-width: 768px) {
                width: 50%;
            }

            @media (min-width: 1440px) {
                width: calc(100% / 12 * 4);
            }


        }
    }
}

.card {
    height: 100%;

    .card_body {
        background-color: whitesmoke;
        padding: 1rem 0;
        text-align: center;

    }

    & img {
        max-width: 100%;
        aspect-ratio: 16 / 9;
        display: block;
    }
}

header {
    background: rgb(131, 58, 180);
    background: linear-gradient(270deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 1rem 0;
    margin-bottom: 1rem;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: large;
        }

        .right_menu {


            a {
                text-decoration: none;
                color: black;
                padding: 0 1rem;
            }
        }
    }
}

.paginations {
    margin-top: 1rem;

    button {
        padding: 1rem;
        border-radius: 0.25rem;
        border: none;
        background-color: #FF7F50;
        margin: 0.25rem;

        &:hover {
            background-color: #CC0000;
            cursor: pointer;
        }
    }
}

footer {
    background-color: black;
    color: whitesmoke;
    margin-top: 1.2rem;
    padding: 1rem 0;
    text-align: center;

    & ul {
        list-style: none;
    }
}