* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Reddit Mono";
    background-color: darkslategrey;
}

main {
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;

        .col {
            width: 100%;
            padding: 1rem;

            @media (min-width: 768px) {
                width: 50%;
            }

            @media (min-width: 1440px) {
                width: calc(100% / 12 * 4);
            }


        }
    }
}

.card {
    height: 100%;
    
    .card_body{
        background-color: whitesmoke;
        padding: 1rem 0;
        text-align: center;

    }

    & img {
        max-width: 100%;
        aspect-ratio: 16 / 9;
        display: block;
    }
}

header {
    background-color: seagreen;
    padding: 1rem 0;
    margin-bottom: 1rem;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .right_menu {


            a {
                text-decoration: none;
                color: black;
                padding: 0 1rem;
            }
        }
    }
}

.paginations {
    margin-top: 1rem;

    button {
        padding: 1rem;
        border-radius: 0.25rem;
        border: 0.5px solid green;
        background-color: seagreen;
        margin: 0.25rem;

        &:hover {
            background-color: green;
            cursor: pointer;
        }
    }
}

footer {
    background-color: black;
    color: whitesmoke;
    margin-top: 1.2rem;
    padding: 1rem 0;
    text-align: center;

    & ul {
        list-style: none;
    }
}