* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;

        .col {
            width: 100%;
            padding: 1rem;

            @media (min-width: 768px) {
                width: 50%;
            }

            @media (min-width: 1440px) {
                width: calc(100% / 12 * 4);
            }


        }
    }
}

.card {

    & img {
        max-width: 100%;
        aspect-ratio: 16 / 9;
    }
}

header {
    background-color: seagreen;
    padding: 1rem 0;
    margin-bottom: 1rem;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .right_menu {


            a {
                text-decoration: none;
                color: black;
                padding: 0 1rem;
            }
        }
    }
}